<div>
	<h2>{{bom.number}} Detail</h2>
	<form name="bomDetailForm">
		Name
		<br> 
		<input type="text" ng-model="bom.number" name="bomNumber">
		<br> <br>
		Description
		<br> 
		<input type="text" ng-model="bom.description" name="bomDescription">
		<br>
		<br>


		<table class="table">
			<thead>
				<tr>
		    		<th>Part Number</th>
		    		<th>Description</th>
		    		<th>Quantity</th>
		    	</tr>
			</thead>
			<tr ng-repeat="component in bom.components">
				<td>{{component.number}}</td>
				<td>{{component.description}}</td>
				<td><input type="number" ng-model="component.componentCount" name="quantity" style="width: 50px;"></td>
			</tr>
		</table>
		<br><br>
		<button ng-click="addPart()">Add Component</button>
		<br><br>

		<button ng-click="updateBom(bom)">Update BOM</button>
		<button ng-click="deleteBom(bom)">Delete BOM</button>
	</form>


</div>