<div>
	<h2>My BOMs</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th></th>
			</tr>
		</thead>
		<tr ng-repeat="bom in boms">
			<td>{{ bom.number }}</td>
			<td>{{ bom.description }}</td>
			<td><a href="#/boms/{{bom.id}}" class="thumb">View</a></td>
		</tr>
	</table>

	<br> <br> <br>

	<div id="add-bom" style="padding: 10px;">
		<form name="myForm" style="padding: 10px;">
			BOM Name:
			<br> 
			<input type="text" ng-model="newBom.number" name="bomNumber">
			<br><br>
			BOM Description:
			<br> 
			<input type="text" ng-model="newBom.description" name="bomDescription">
			<br><br>
			<button ng-click="createBom(newBom)" 
			ng-disabled="!(myForm.bomNumber.$dirty && myForm.bomDescription.$dirty)">Create new BOM</button>
		</form>
	</div>

</div>