<div id="parts" style="padding: 10px;">
	<br>
    <h3>Search for parts</h3>
    <br>
	<input type="text" id="query" ng-model="query" />
	<br><br>
	<ul id="part_ul" class="list-group">
		<li ng-repeat="part in parts | filter:query | orderBy: name" class="list-group-item">
			<em>Name:</em> {{part.corporatePartNumber}}<br /> <em>Description:</em>
			{{part.description}}<br /> <button ng-click="select(part)">Select</button>
		</li>
	</ul>
</div>